/* ----------------------------------- HEADER AND HEADER-BUTTONS -----------------------------------*/

.main {
	-fx-background-color: #ededed;
}

.toolbar {
	-fx-background-color: #292d32, #2d2f36, #5a606b, #42454e, linear-gradient(#656c7b 0%, #424750 50%, #3d4148 50% , #4c505a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 0 0 1 0, 0 0 1 0, 0 0 2 0;
	-fx-padding: 0;
	-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 2);
}

.header-button {
	-fx-background-color: #292d32, #2d2f36, #5a606b, #42454e, linear-gradient(#656c7b 0%, #424750 50%, #3d4148 50% , #4c505a 100%);
	-fx-background-insets: 0, 0 0 1 0, 0 1 1 0, 0 1 1 1, 0 1 2 1;
	-fx-background-radius: 0;
	-fx-padding: 0;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans Bold";
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-font-smoothing-type: lcd;
}

.header-button-right {
	-fx-background-color: #292d32, #5a606b, #2d2f36, #5a606b, #42454e, linear-gradient(#656c7b 0%, #424750 50%, #3d4148 50% , #4c505a 100%);
	-fx-background-insets: 0, 0 0 1 0, 0 1 1 0, 0 2 1 0, 0 2 1 1, 0 2 2 1;
}

.header-button-left {
	-fx-background-insets: 0, 0 0 1 0, 0 1 1 1, 0 1 1 2, 0 1 2 2;
}

.header-button-shape {
	-fx-fill: white;
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 5;
}

.header-button Text {
    -fx-fill: white;
    -fx-font-family: "Open Sans Bold";
    -fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-font-smoothing-type: lcd;
}

.bar {
	-fx-background-insets: 0, 0 0 1 0, 0 1.9 1 0, 0 1.9 1 1.5, 0 1.9 2 1.5;
	-fx-background-radius: 0,0,0,0;
	-fx-shape: "M 0 0 L 13 22.5 L 0 45 L 25 45 L 115 45 L 140 45 L 153 22.5 L 140 0 L 115 0 L 25 0 L 0 0 z";
}

.first {
	-fx-background-insets: 0, 0 0 1 0, 0 1.5 1 1, 0 1.5 1 2, 0 1.5 2 2;
    -fx-background-radius: 0;
    -fx-shape: "M 0 0 L 0 3 L 0 42 L 0 45 L 3 45 L 45 45 L 115 45 L 140 45 L 153 22.5 L 140 0 L 115 0 L 45 0 L 3 0 L 0 0 z";
    -fx-padding: 0 13 0 0;
    
}

.last {
	-fx-background-color: #292d32, #666c78, #2d2f36, #666c78, #42454e, linear-gradient(#656c7b 0%, #424750 50%, #3d4148 50% , #4c505a 100%);
	-fx-background-insets: 0, 0 0 1 0, 0 1 1 0, 0 2 1 0, 0 2 1 1.5, 0 2 2 1.5;
	-fx-background-radius: 0;
	-fx-shape: "M 0 0 L 13 22.5 L 0 45 L 25 45 L 108 45 L 128 45 L 150 45 L 153 45 L 153 42 L 153 3 L 153 0 L 150 0 L 128 0 L 108 0 L 25 0 L 0 0 z";
	-fx-padding: 0 0 0 13;
}

.header-button:pressed, .header-button.selected {
	-fx-background-color: #292d32, #3c4147, #2d2f36, #292d32, linear-gradient(#303238 0%, #2e3136 50%, #2a2d31 50%, #32363b 100%);
}

.header-button-right:pressed, .header-button-right.header-button.selected, .last.selected {
	-fx-background-color: #292d32, #3c4147, #2d2f36, #292d32, linear-gradient(#303238 0%, #2e3136 50%, #2a2d31 50%, #32363b 100%);
}

.header-button:disabled {
	-fx-opacity: 1;
}

.header-button.selected:disabled {
	-fx-opacity: 0.5;
}

.header-button-shape:disabled  {
	-fx-fill: #747981;
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 5;
}

.header-button:disabled Text {
   -fx-fill: #747981;
}