.arrow-shape-enabled {
	-fx-fill: linear-gradient(#76b9ff 0%, #619bff 100%);
	-fx-effect: dropshadow(gaussian, #b6b6b6, 15, 0, 0, 5);	
	-fx-stroke: linear-gradient(#0cadff 100%, #007ab8 0%);
	-fx-stroke-width: 1px;
}

.arrow-shape-disabled {
	-fx-fill: linear-gradient(#e7e7e7 0%, #d5d5d5 100%);
	-fx-effect: innershadow(gaussian, #717171, 2, 0, 0, -1);
	-fx-stroke: #c0c0c0;
	-fx-stroke-width: 1px;
}

.arrow-shape-pressed {
	-fx-fill: linear-gradient(#76b9ff 0%, #619bff 100%);
	-fx-effect: innershadow(gaussian, #262626, 7, 0, 0, 2);
}

.question-mark-shape {
	-fx-fill: linear-gradient(white 0%, #e6e6e6 100%);
	-fx-effect: dropshadow(gaussian, #848484, 8, 0, 0, 0);
}

.device-button {
	-fx-background-color: 
		linear-gradient(#c0c0c0 0%, #8d8d8d 100%),
		linear-gradient(white 0%, #d1d1d1 80%, #cccccc 100%),
		radial-gradient(center 50% -40%, radius 200%, rgba(255, 255, 255, 0.1) 45%, rgba(203, 203, 203, 0.1) 50%);
	-fx-background-insets: 0, 1 1 2 1, 1 1 2 1;
	-fx-background-radius: 5, 4, 4;
	-fx-padding: 0 0 0 0;
	-fx-effect: dropshadow(gaussian, #b6b6b6, 15, 0, 0, 5);
}

.device-button Pane.effect {
	-fx-background-color: radial-gradient(center 50% -40%, radius 200%, rgba(255, 255, 255, 0.2) 45%, rgba(203, 203, 203, 0.1) 50%);
	-fx-background-insets: 1 1 2 1;
	-fx-background-radius: 4;
}

.device-button:pressed Pane.effect {
	-fx-background-color: rgba(113, 113, 113, 0.3);
	-fx-background-insets: 1 1 2 1;
	-fx-background-radius: 4;
}

.pre-process {
	-fx-fill: radial-gradient(center 50% 50%, radius 30%, #f39500, #f37200);
}

.post-process {
	-fx-fill: radial-gradient(center 50% 50%, radius 30%, #67be00, #5caa00);
}

.cnc-machine {
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, #ba83ff, #6300dd);
}

.button-shape-inactive {
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, #c4c4c4, #919191);
}

.device-label {
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
}

.button-label-inactive {
	-fx-text-fill: #B8B8B8;
}