.arrow-shape-active {
	-fx-fill: linear-gradient(#76b9ff 0%, #619bff 100%);
	-fx-effect: dropshadow(gaussian, #434343, 2, 0, 0, 1);
	-fx-stroke: #0094e0;
	-fx-stroke-width: 1px;
}

.arrow-shape-inactive {
	-fx-fill: linear-gradient(#f3f3f3 0%, white 100%);
	-fx-effect: innershadow(gaussian, #717171, 4, 0, 0, 1);
}

.question-mark-shape {
	-fx-fill: linear-gradient(white 0%, #e6e6e6 100%);
	-fx-effect: dropshadow(gaussian, #848484, 8, 0, 0, 0);
}

.device-button {
	-fx-background-color: 
		#8d8d8d,
		linear-gradient(white 0%, #d2d3d9 100%),
		linear-gradient(white 0%, #dedede 100%);
	-fx-background-insets: 0, 1, 2;
	-fx-border-radius: 5, 4, 3;
	
	-fx-effect: dropshadow(gaussian, #434343, 2, 0, 0, 1);
}

.pre-process {
	-fx-fill: radial-gradient(center 50% 50%, radius 30%, #f39500, #f37200);
}

.post-process {
	-fx-fill: radial-gradient(center 50% 50%, radius 30%, #67be00, #5caa00);
}

.cnc-machine {
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, #ba83ff, #6300dd);
}

.device-label {
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
}