.info-label {
	-fx-font-size: 15px;
	-fx-text-alignment: center;
	-fx-font-family: "Helvetica";
	-fx-text-fill: rgba(0, 0, 0, 0.7);
	-fx-padding: 10;
}

.lbl-log {
	-fx-padding: 10;
}

.txt {
	-fx-font-size: 15px;
	-fx-text-alignment: center;
	-fx-font-family: "Helvetica";
	-fx-text-fill: rgba(0, 0, 0, 0.8);
	-fx-padding: 5;
}

.button {
	-fx-background-color: 
		linear-gradient(#3776b2 0%, #3e6793 100%), 
		#56abfb, 
		linear-gradient(#4b9eec 0%, #3577b2 100%);
	-fx-background-insets: 0, 1, 2 1 1 1;
	-fx-background-radius: 4, 3, 2 2 3 3;
}

.button:hover {
	-fx-background-color: 
		linear-gradient(#3d8cd8 0%, #3e6793 100%), 
		#99ceff, 
		linear-gradient(#6eb9ff 0%, #3577b2 100%);
}

.button:pressed {
	-fx-effect: innershadow(gaussian, #262626, 7, 0, 0, 2);
}

.button Text {
	-fx-fill: white;
	-fx-font-size: 14;
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
	-fx-font-family: "Helvetica";
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 2, 0.0 , 0 , 1 );   
}

.yellow {
	-fx-background-color: yellow;
}

.blue {
	-fx-background-color: blue;
}

.scrp-log {
	-fx-background-image: url("noisy_grid.png");
	-fx-background-image-repeat: repeat;
}