<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appenders>
    <RollingFile name="LOGFILE" fileName="./logs/log/logfile.log" append="true" filePattern="./logs/log/$${date:yyyy-MM}/logfile-%d{MM-dd-yyyy}-%i.log.gz">
	  <PatternLayout>
        <pattern>%-7p %-25d %-30t %-5L %-70c - %m%n</pattern>
      </PatternLayout>     
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="25 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
    <RollingFile name="XML" fileName="./logs/xml/logFile.xml" append="true" filePattern="./logs/xml/$${date:yyyy-MM}/logfile-%d{MM-dd-yyyy}-%i.xml.gz">
      <XMLLayout locationInfo="true"/>
       <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="25 MB"/>
      </Policies>
    </RollingFile>
    <Console name="STDOUT">
      <PatternLayout>
        <pattern>%-7p %-25d %-30t %-5L %-70c - %m%n</pattern>
      </PatternLayout> 
    </Console>
  </appenders>
  
  <loggers>
    <root level="debug">
       <appender-ref ref="STDOUT"/>
       <appender-ref ref="LOGFILE"/>
       <appender-ref ref="XML"/>
    </root>
  </loggers>
  
</configuration>