.admin-main {
	-fx-background-color: #7b7b7b;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, -5, 0);
}

.admin-main .left-menu {
	-fx-background-insets: 0 0 0 0, 0 1 0 0, 0 1 0 0;
}

.check-box, .radio-button {
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-font-family: "Open Sans";
	-fx-font-smoothing-type: lcd;
}

.check-box .box, .radio-button .radio {
	-fx-background-radius: 3, 3, 2;
	-fx-padding: 5;
	-fx-background-color: #837e7e, #2d2f33, #3f4046, #484a50; 
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
}

.radio-button .radio {
	-fx-background-radius: 10;
}

.check-box .box .mark, .radio-button .radio .dot {
	-fx-background-color: transparent;
	-fx-padding: 5;
}

.check-box:selected .box .mark, .radio-button:selected .radio .dot {
	-fx-background-color: white;
	-fx-padding: 5;
}

.radio-button:selected .radio, .radio-button .radio {
	-fx-padding: 3 4 5 4;
}

.gripper-image-edit {
	-fx-background-color: #45474b, #3a3d42, #5d6067, linear-gradient(#4f5157 0%, #43454a 100%); 
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 3 2 3 2;
	-fx-background-radius: 3, 3, 2, 2;
}

.yellow {
	-fx-background-color: yellow;
}

.red {
	-fx-background-color: red;
}

.padding-button {
	-fx-padding: 0 10 0 10;
}

.cnc-contentpane {
}

.bottom-right {
	-fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.bottom-left, .left-menu, .content-bottom {
	-fx-background-insets: 0 0 0 0, 0 1 0 0, 0 1 0 0;
}

.delete-btn {
	-fx-background-color: #6a3f3c, #6c1811, #fa766c, linear-gradient(#e94b3e 0%, #bb3b30 50%, #b7392f 50%, #c03b31 100%);
}

.delete-btn:pressed, .delete-btn.form-button-active {
	-fx-background-color: #8a8c90, #6c1811, #832018, #941f16;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 3 2 3 2;
	-fx-effect: innershadow(two-pass-box, #3a0d09, 8, 0.0, 0, 1);
}

.save-btn {
	-fx-background-color: #455067, #223865, #719cf6, linear-gradient(#396fde 0%, #265ac4 50%, #2558bf 50%, #2353b7 100%);
	-fx-background-color: #45474b, #3a3d42, #8e8f94, linear-gradient(#75767d 0%, #5f6167 50%, #5b5e64 50%, #5f6167 100%);
}

.save-btn:pressed, .save-btn.form-button-active {
	-fx-background-color: #8a8c90, #3a3d42, #36383d, #4e5055;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 3 2 3 2;
	-fx-effect: innershadow(two-pass-box, #28292b, 8, 0.0, 0, 1);
}