.admin-main {
	-fx-background-color: #7b7b7b;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, -5, 0);
}

.admin-main .left-menu {
	-fx-background-insets: 0 0 0 0, 0 1 0 0, 0 1 0 0;
}

.check-box {
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-font-family: "Open Sans";
	-fx-font-smoothing-type: lcd;
}

.check-box .box {
	-fx-background-radius: 3, 3, 2;
	-fx-padding: 5;
	-fx-background-color: #837e7e, #1c1d20, #2c2e32, #34363b;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
}

.check-box .box .mark {
	-fx-background-color: transparent;
	-fx-padding: 5;
}

.check-box:selected .box .mark {
	-fx-background-color: white;
	-fx-padding: 5;
}

.gripper-image-edit {
	-fx-background-color: #8c8888, #3b3b3b, #5b5b5b, #6d6c6c;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 1 1 3 1;
	-fx-background-radius: 2, 2, 2, 2;
}

.yellow {
	-fx-background-color: yellow;
}

.red {
	-fx-background-color: red;
}