.admin-main {
	-fx-background-color: #7b7b7b;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, -5, 0);
}

.admin-main .left-menu {
	-fx-background-insets: 0 0 0 0, 0 1 0 0, 0 1 0 0;
}

.check-box, .radio-button {
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-font-family: "Open Sans";
	-fx-font-smoothing-type: lcd;
}

.check-box .box, .radio-button .radio {
	-fx-background-radius: 3, 3, 2;
	-fx-padding: 5;
	-fx-background-color: #837e7e, #1c1d20, #2c2e32, #34363b;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
}

.radio-button .radio {
	-fx-background-radius: 10;
}

.check-box .box .mark, .radio-button .radio .dot {
	-fx-background-color: transparent;
	-fx-padding: 5;
}

.check-box:selected .box .mark, .radio-button:selected .radio .dot {
	-fx-background-color: white;
	-fx-padding: 5;
}

.radio-button:selected .radio, .radio-button .radio {
	-fx-padding: 3 4 5 4;
}

.gripper-image-edit {
	-fx-background-color: #837e7e, #3a3d42, #3f4046, #484a50; 
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-background-radius: 2, 2, 2, 2;
}

.yellow {
	-fx-background-color: yellow;
}

.red {
	-fx-background-color: red;
}

.padding-button {
	-fx-padding: 0 10 0 10;
}

.cnc-contentpane {
}

.bottom-right {
	-fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.bottom-left, .left-menu, .content-bottom {
	-fx-background-insets: 0 0 0 0, 0 1 0 0, 0 1 0 0;
}