.automate-bottom {
	-fx-background-color: #4c4c4c, #807c7c, #7b7b7b;
	-fx-background-insets: 0 0 0 0, 1 0 0 0, 2 0 0 0;
}

.automate-icon {
	-fx-fill: white;
	-fx-effect: dropshadow(one-pass-box, #414141, 1, 0, 0, 1);
}

.circle-back {
	-fx-smooth: true; 
	-fx-shape: "M 39.75 -0.03125 C 18.043861 -0.03125 0.40625 17.606358 0.40625 39.3125 C 0.40625 61.01864 18.043861 78.53125 39.75 78.53125 C 61.456141 78.53125 79 61.01864 79 39.3125 C 79 17.606358 61.456141 -0.03125 39.75 -0.03125 z";
	-fx-background-color: linear-gradient(#7b7b7b 0%, #7b7b7b 50%, #8c8888 80%, #8c8888 100%), #3d3d3d, linear-gradient(#6d6c6c 0%, #6d6c6c 20%, #6d6c6c 50%, #6d6c6c 100%), #6d6c6c;
	-fx-background-insets: 0, 1, 2, 3;
}

.automate-progress {
	-fx-smooth: true; 
	-fx-stroke: null;
}

.automate-progress-green {
	-fx-stroke: #1a4d0b;
	-fx-fill: radial-gradient(center 0px -120px, radius 100px, #6fc955, #409228);
}

.automate-progress-gray {
	-fx-fill: #dadada;
	-fx-fill: radial-gradient(center 0px -120px, radius 100px, #c5c5c5, #8b8b8b);
}

.automate-progress-red {
	-fx-fill: #e33d27;
	-fx-fill: radial-gradient(center 0px -120px, radius 100px, #e33d27, #dc341d);
}

.finished-amount {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: white;
	-fx-font-family: "Helvetica";
	-fx-font-size: 80px;
	-fx-font-width: bold;
	-fx-effect: dropshadow(one-pass-box, #565656, 1, 0, 0, 1);
}

.automate-info-lbl {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: white;
	-fx-font-family: "Helvetica";
	-fx-font-size: 13px;
}

.automate-time-lbl {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: white;
	-fx-font-family: "Helvetica";
	-fx-font-size: 20px;
	-fx-font-width: bold;
	-fx-padding: 7 0 7 0;
}

.invisible {
	visibility: hidden;
}

.lbl-total {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: white;
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
}

.time-vbox {
	-fx-background-color: #4c4c4c, #807c7c, #6d6c6c;
	-fx-background-insets: 0, 1 0 0 0, 2 0 0 0;
}

.automate-btn {
	-fx-background-color: #807878, #222222, #807878, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-border-radius: 6, 6, 5, 5;
}

.automate-btn:pressed {
	-fx-background-color: #807878, #222222, #6696e7, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.automate-btn-text {
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-font-family: "Helvetica";
	-fx-alignment: center;
}

.status-msg {
	-fx-font-size: 15px;
	-fx-background-color: #8c8888, #3d3d3d, #6d6c6c, #6d6c6c;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-background-radius: 5;
}

.yellow {
	-fx-background-color: yellow;
	-fx-opacity: 0.3;
}

.blue {
	-fx-background-color: blue;
	-fx-opacity: 0.3;
}

.red {
	-fx-background-color: red;
	-fx-opacity: 0.3;
}
