.form-label, .label {
	-fx-font-size: 15px;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-smoothing-type: lcd;
	-fx-text-fill: white;
	-fx-padding: 0 5 0 0;
}

.form-button {
	-fx-background-color: #8c8888, #222222, #807878, #353333, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 2 1 3 1;
	-fx-background-radius: 3, 3, 2, 2, 2;
	-fx-text-fill: white;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans";
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
	-fx-padding: 0;
}

.form-button:pressed, .form-button-active {
	-fx-background-color: #8c8888, #222222, #6696e7, #1d355d, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.form-button:disabled {
	-fx-background-color: #8c8888, #5d5d5d, #888484, #7b7b7b, #7b7b7b;
	-fx-opacity: 1;
}

.form-button-active:disabled {
	-fx-opacity: 0.5;
}

.form-button-icon {
	-fx-opacity: 1;
	-fx-fill: white;
}

.form-button-icon:disabled  {
	-fx-opacity: 0.3;
}

.form-button Text, .form-button Label {
  -fx-opacity: 1;
}

.form-button:disabled Text, .form-button:disabled Label {
  -fx-opacity: 0.3;
}

.form-button-label {
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
	-fx-padding: 0;
	-fx-font-size: 13px;
}

.form-button-bar-left {
	-fx-background-radius: 3 0 0 3, 3 0 0 3, 2 0 0 2, 2 0 0 2, 2 0 0 2;
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 0 2 1, 2 0 2 1, 2 0 3 1;
}

.form-button-bar-right {
	-fx-background-radius: 0 3 3 0, 0 3 3 0, 0 2 2 0, 0 2 2 0, 0 2 2 0;
}

.form-full-textfield, .text-field {
	-fx-font-size: 14px;
	-fx-font-family: "Open Sans";
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 3, 3, 2;
	-fx-padding: 0 0 0 10;
	-fx-background-color: #8c8888, #222222, #4e4a4a;
	-fx-background-insets: 0, 0 0 1 0, 2 1 2 1;
	-fx-text-fill: white;
}

.form-full-textfield:disabled, .text-field:disabled {
	-fx-text-fill: white;
	-fx-background-color: #8c8888, #3d3d3d, #7b7b7b;
}

.form-full-textfield:focused, .text-field:focused {
	-fx-background-color: #8c8888, #0080e2, #4e4a4a;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
}

.center-text {
	-fx-text-alignment: center;
}

.add-icon {
	-fx-fill: white;
}

.remove-icon {
	-fx-fill: white;
}

.combo-box-base, .arrow-button {
	-fx-background-color: #8c8888, #222222, #807878, #353232, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 2 1 3 1;
	-fx-background-radius: 3, 2, 2, 2;
}

.arrow {
	-fx-background-color: white;
}

.arrow-button {
	-fx-background-radius: 0 3 3 0,  0 2 2 0, 0 2 2 0, 0 2 2 0;
}

.combo-box-base .list-cell {
	-fx-font-size: 13px;
	-fx-text-alignment: center;
	-fx-alignment: center-left;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-padding: 10 10 10 10;
}

.combo-box-base {
	-fx-background-radius: 3, 2, 2, 2;
}

.combo-box-popup {
	-fx-alignment: center;
	-fx-background-color: #343434;
}

.combo-box-popup .list-view {
	-fx-alignment: center;
	-fx-effect: dropshadow(gaussian, #4c4c4c, 7, 0, 0, 3);
	-fx-background-insets: 0;
	-fx-background-color: #343434;
	-fx-border: green;
	-fx-padding: 0;
}

.combo-box-popup .list-view .list-cell {
	-fx-background-color: #343434, #807878, #5e5a5a;
	-fx-background-insets: 0, 1 1 0 1, 2 1 0 1;
	-fx-background-radius: 0;
	-fx-font-size: 13px;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans Semibold";
	-fx-text-fill: white;
	-fx-padding: 10 10 10 10;
}

.form-icon {
	-fx-fill: #4e4a4a;
}

.stackplate {
	-fx-fill: #b4b4b4;
}

.stacker-text {
	-fx-font-size: 18px;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-fill: #e9441e;
}

.hole {
	-fx-fill: #484848;
}

.normal-stud {
	-fx-fill: #00eaff;
	-fx-stroke: #10a0ad;
	-fx-stroke-width: 1px;
}

.horizontal-stud {
	-fx-fill: #f6ff00;
	-fx-stroke: #a3a80e;
	-fx-stroke-width: 1px;
}

.corner-shape {
	-fx-fill: #8754cf;
	-fx-stroke: #614c87;
	-fx-stroke-width: 1px;
}

.workpiece {
	-fx-fill: linear-gradient(#ffb327 0%, #ffb327 2%, #fb8e05 4%, #e07d01 100%);
	-fx-stroke-width: 1px;
	-fx-stroke: #a55015;
}

.workpiece-mark {
	-fx-fill: #a55015;
}

.workpiece-finished-mark {
	-fx-fill: #205c0f;
}

.finished {
	-fx-fill: linear-gradient(#a3f08c 0%, #a3f08c 2%, #6fc955 4%, #409228 100%);
	-fx-stroke-width: 1px;
	-fx-stroke: #205c0f;
}

.root {
	-fx-fill: null;
}

.line {
	-fx-stroke-width: 2px;
	-fx-stroke: #9e9e9e;
}

.corner-stud-lines {
	-fx-stroke: red;
	-fx-stroke-line-cap: butt;
}

.iconflow-selector {
	-fx-background-color: #8c8888, #222222, #5b5b5b, #6d6c6c;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-background-radius: 3px;
}

.iconflow-item {	
	-fx-background-color: transparent;
	-fx-background-radius: 3px;
	-fx-border-color: transparent;
	-fx-border-width: 2px;
	-fx-border-radius: 5px;
}

.iconflow-item-selected {
	-fx-border-color: #1770da;
}

.iconflow-item-lbl {
	-fx-text-fill: white;
	-fx-border-width: 0px;
	-fx-font-size: 13px;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-smoothing-type: lcd;
	-fx-alignment: center;
	-fx-padding: 5 0 0 0;
}

.iconflow-item-icon {
	-fx-border-width: 0px;
	-fx-opacity: 0.5;
}

.iconflow-item-icon-selected {
	-fx-opacity: 1;
}

.iconflow-selector .scroll-bar {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-effect: null;
}

.iconflow-selector .scroll-bar .decrement-button {
	-fx-padding: 10 0 10 0;
	-fx-background-color: transparent;
	-fx-border-width: 0px;
	-fx-border-color: transparent;
	-fx-effect: null;
}

.iconflow-selector .scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
}

.iconflow-selector .scroll-bar .increment-button {
	-fx-padding: 10 0 10 0;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0px;
	-fx-effect: null;
}

.iconflow-selector .scroll-bar .increment-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
}

.iconflow-selector .scroll-bar .track {
	-fx-background-color: #eeeeee;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
	-fx-effect: null;
}

.lbl-intervention {
	-fx-text-alignment: right;
	-fx-alignment: center-right;
}

.iconflow-selector .scroll-bar .thumb {
	-fx-background-color: rgba(0, 0, 0, 0.5);
	-fx-border-color: transparent;
	-fx-background-insets: 2, 0;
}

.iconflow-selector .scroll-bar .thumb:pressed {
	-fx-background-color: rgba(0, 0, 0, 0.3);
	-fx-border-color: transparent;
	-fx-background-insets: 2, 0;
}

.btn-intervention {
	-fx-fill: rgba(0, 0, 0, 0.5);
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.8), 2, 0, 0, 1);
}

.hidden {
	visibility: hidden;
}

.processes-list-view {
	-fx-border-width: 0px;
	-fx-background-color: #8c8888, #222222, #6d6c6c;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
	-fx-padding: 1 1 2 1;
	-fx-border-width: 0px;
}

.processes-list-view .cell {
	-fx-text-alignment: center;
	-fx-font-size: 14px;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-smoothing-type: lcd;
	-fx-padding: 10px;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #4b4b4b;
	-fx-text-fill: white;
}

.processes-list-view .cell:empty {
	-fx-background-color: #6d6c6c;
	-fx-background-insets: 0;
	-fx-border-width: 0px;
}

.processes-list-view .cell:filled {
}

.processes-list-view .cell:odd:filled, .processes-list-view .cell:even:filled {

}

.processes-list-view .cell:even:filled:selected, .processes-list-view .cell:odd:filled:selected {
	-fx-background-color: linear-gradient(#5078bc 0%, #3e6099 100%);
	-fx-text-fill: white;
}
