.form-button {
	-fx-background-color: 
		linear-gradient(#c6c6c6 0%, #9a9a9a 100%),
		linear-gradient(#fbfbfb 0%, #eeeeee 100%);
	-fx-background-insets: 0, 1 1 2 1;
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	
	-fx-font-family: "Helvetica";
	-fx-padding: 0;
	
	-fx-border-radius: 5, 4 4 3 3;
}


.form-button:pressed {
	-fx-background-color: 
		linear-gradient(#c6c6c6 0%, #9a9a9a 100%),
		linear-gradient(#eaeaea 0%, #eeeeee 100%);
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0.5), 7, 0, 0, 2);
	-fx-background-insets: 0, 1;
	
}

.form-full-textfield {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	
	-fx-font-family: "Helvetica";
	
	-fx-text-fill: #323232;
	
	-fx-background-radius: 4;
	
	-fx-padding: 0 0 0 10;
	
	-fx-background-color: #f0f0f0;
	-fx-border-color: #cdcdcd;
	-fx-border-width: 1px;
	-fx-border-radius: 5;
	
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 2, 0, 0, 1);
}

.form-full-textfield:focused {
	-fx-background-color: #faffc2;
	-fx-border-color: #0080e2;
}

.form-button-icon {
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.8), 2, 0, 0, 1);
}

.form-button-label {
	-fx-text-fill: #323232;
	-fx-effect: null;
}

.add-icon {
	-fx-fill: green;
}

.remove-icon {
	-fx-fill: red;
}

.form-label {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	
	-fx-font-family: "Helvetica";
	
	-fx-text-fill: #737373;
	
	-fx-padding: 0 10 0 0;
}


.form-button-active {
	-fx-background-color: 
		linear-gradient(#c6c6c6 0%, #9a9a9a 100%),
		linear-gradient(#eaeaea 0%, #eeeeee 100%);
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0.5), 7, 0, 0, 2);
	-fx-background-insets: 0, 1;
	
}