.form-label, .label {
	-fx-font-size: 15px;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-smoothing-type: lcd;
	-fx-text-fill: white;
	-fx-padding: 0 5 0 0;
}

.form-button {
	-fx-background-color: #45474b, #3a3d42, #8e8f94, linear-gradient(#75767d 0%, #5f6167 50%, #5b5e64 50%, #5f6167 100%);
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 3 2 3 2;
	-fx-background-radius: 3, 3, 2, 2, 2;
	-fx-padding: 0;
}

.form-button:pressed, .form-button-active {
	-fx-background-color: #8a8c90, #3a3d42, #36383d, #36383d;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 3 2 3 2;
	-fx-effect: innershadow(two-pass-box, #131415, 8, 0.0, 0, 1);
}

.form-button:disabled {
	-fx-background-insets: 0, 0 0 0 0, 1 1 1 1, 2 1 1 1, 3 2 2 2;
	-fx-opacity: 0.3;
}

.form-button-active:disabled {
	-fx-opacity: 0.3;
}

.form-button-icon {
	-fx-fill: white;
}

.form-button-label, .form-button Text, .form-button Label {
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
	-fx-padding: 0;
	-fx-font-size: 13px;
}

.form-button-bar-left, .form-button-bar-center {
	-fx-background-radius: 3 0 0 3, 3 0 0 3, 2 0 0 2, 2 0 0 2, 2 0 0 2;
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 0 2 1, 2 0 2 1, 2 0 2 1;
}

.form-button-bar-center {
	-fx-background-radius: 0;
}

.form-button-bar-left .form-button-active, .form-button-bar-center .form-button-active {
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 0 2 1, 2 0 2 1, 2 0 2 1;
}

.form-button-bar-right .form-button-active {
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 2 1 2 1;
}

.form-button-bar-right {
	-fx-background-radius: 0 3 3 0, 0 3 3 0, 0 2 2 0, 0 2 2 0, 0 2 2 0;
}

.form-full-textfield, .text-field {
	-fx-font-size: 14px;
	-fx-font-family: "Open Sans";
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 3, 3, 2;
	-fx-padding: 0 0 0 10;
	-fx-background-color: #837e7e, #1c1d20, #2c2e32, #34363b;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 3 1 2 1;
	-fx-text-fill: white;
}

.form-full-textfield:disabled, .text-field:disabled {
	-fx-opacity: 0.3;
}

.form-full-textfield:focused, .text-field:focused {
	-fx-background-color: #837e7e, #0080f8, #34363b;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
}

.center-text {
	-fx-text-alignment: center;
}

.combo-box-base, .arrow-button {
	-fx-background-color: #45474b, #3a3d42, #8e8f94, linear-gradient(#75767d 0%, #5f6167 50%, #5b5e64 50%, #5f6167 100%);
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 3 2 3 2;
	-fx-background-radius: 3, 3, 2, 2, 2;
	-fx-background-radius: 3, 2, 2, 2;
}

.arrow {
	-fx-background-color: white;
}

.arrow-button {
	-fx-background-radius: 0 3 3 0,  0 2 2 0, 0 2 2 0, 0 2 2 0;
}

.combo-box-base .list-cell {
	-fx-font-size: 13px;
	-fx-text-alignment: center;
	-fx-alignment: center-left;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-padding: 10 10 10 10;
}

.combo-box-base:disabled {
	-fx-opacity: 0.3;
}

.combo-box-base {
	-fx-background-radius: 3, 3, 2, 2, 2;
}

.combo-box-popup {
	-fx-alignment: center;
	-fx-background-color: #5b5e64;
}

.combo-box-popup .list-view {
	-fx-alignment: center;
	-fx-effect: dropshadow(gaussian, #131415, 7, 0, 0, 3);
	-fx-background-insets: 0;
	-fx-background-color: transparent;
	-fx-padding: 3 0 0 0;
}

.combo-box-popup .list-view .list-cell {
	-fx-background-color: #3a3d42, #75767d, #5f6167;
	-fx-background-insets: 0, 1 1 0 1, 2 1 0 1;
	-fx-background-radius: 0;
	-fx-font-size: 13px;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans Semibold";
	-fx-text-fill: white;
	-fx-padding: 10 10 10 10;
}

.form-icon {
	-fx-fill: #2a2d31;
	-fx-scale-x: 0.9;
	-fx-scale-y: 0.9;
}

.stackplate {
	-fx-fill: #b4b4b4;
}

.stacker-text {
	-fx-font-size: 18px;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-fill: #e9441e;
}

.hole {
	-fx-fill: #484848;
}

.normal-stud {
	-fx-fill: #00eaff;
	-fx-stroke: #10a0ad;
	-fx-stroke-width: 1px;
}

.horizontal-stud {
	-fx-fill: #f6ff00;
	-fx-stroke: #a3a80e;
	-fx-stroke-width: 1px;
}

.corner-shape {
	-fx-fill: #8754cf;
	-fx-stroke: #614c87;
	-fx-stroke-width: 1px;
}

.workpiece {
	-fx-fill: #f27e17;
	-fx-stroke-width: 1px;
	-fx-stroke: #ad5609;
}

.workpiece-mark {
	-fx-fill: #a55015;
}

.workpiece-finished-mark {
	-fx-fill: #205c0f;
}

.finished {
	-fx-fill: #6fc955;
	-fx-stroke-width: 1px;
	-fx-stroke: #205c0f;
}

.root {
	-fx-fill: null;
}

.line {
	-fx-stroke-width: 2px;
	-fx-stroke: #9e9e9e;
}

.corner-stud-lines {
	-fx-stroke: red;
	-fx-stroke-line-cap: butt;
}

.iconflow-selector {
	-fx-background-color: #837e7e, #3a3d42, #3f4046, #484a50; 
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-background-radius: 2, 2, 2, 2;
}

.iconflow-item {	
	-fx-background-color: transparent;
	-fx-background-radius: 2px;
	-fx-border-color: transparent;
	-fx-border-width: 2px;
	-fx-border-radius: 2px;
}

.iconflow-item .iconflow-item-lbl {
	-fx-opacity: 0.3;
}

.iconflow-item-selected .iconflow-item-lbl {
	-fx-opacity: 1;
}

.iconflow-item-selected {
	-fx-border-color: #0080f8;	
}

.iconflow-item-lbl {
	-fx-text-fill: white;
	-fx-border-width: 0px;
	-fx-font-size: 13px;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-smoothing-type: lcd;
	-fx-alignment: center;
	-fx-padding: 5 0 5 0;
}

.iconflow-item-icon {
	-fx-border-width: 0px;
	-fx-opacity: 0.3;
	-fx-scale-x: 0.9;
	-fx-scale-y: 0.9;
}

.iconflow-item-icon-selected {
	-fx-opacity: 1;
}

.lbl-intervention {
	-fx-text-alignment: right;
	-fx-alignment: center-right;
}

.hidden {
	visibility: hidden;
}

.table {
	-fx-background-color: #3a3d42, #34363b, #484a50;
	-fx-background-insets: 0, 1 1 0 1, 3 1 0 1;
	-fx-padding: 1 1 1 1;
}

.table .column-overlay, .filler, .column-resize-line {
	-fx-background-color: #343434;
	-fx-fill: #343434;
	-fx-border-color: #343434;
	-fx-stroke: #343434;
}

.table .placeholder {
	-fx-background-color: transparent;
	-fx-font-family: "Open Sans";
	-fx-font-size: 13px;
}

.table .column-header-background {
	-fx-border-width: 0px;
	-fx-background-radius: 0px;
	-fx-background-color: #45474c, #3a3d42, linear-gradient(#75767d 0%, #5f6167 50%, #5b5e64 50%, #5f6167 100%);
	-fx-background-insets: 0, 0 0 1 0, 0 0 2 0;
	-fx-effect: dropshadow(gaussian, black, 10, 0.0, 5, 5);
}

.table .column-header-background .column-header {
	-fx-background-color: transparent;
	-fx-border-width: 0px;
}

.table .column-header-background .column-header .label {
	-fx-padding: 10px;
	-fx-background-color: #45474c, #3a3d42, linear-gradient(#75767d 0%, #5f6167 50%, #5b5e64 50%, #5f6167 100%);
	-fx-background-insets: 0, 0 0 1 0, 0 0 2 0;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: left;
	-fx-alignment: center-left;
}

.table .column-header-background .column-drag-header {
	-fx-background-color: null;
}

.table .column-header-background .column-drag-header .label {
	-fx-padding: 10px;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: left;
}

.table .column-header-background .nested-column-header {
	-fx-border-width: 0px;
	-fx-background-color: #45474c, #3a3d42, linear-gradient(#75767d 0%, #5f6167 50%, #5b5e64 50%, #5f6167 100%);
	-fx-background-insets: 0, 0 0 1 0, 0 0 2 0;
}

.table .column-header-background .nested-column-header .column-header {
	-fx-padding: -2 5 0 5;	
}

.table .indexed-cell:even, .table .indexed-cell:odd {
	-fx-cell-size: 30px;
	-fx-border-width: 0px;
	-fx-padding: 0px;
	-fx-text-fill: white;
	-fx-font-family: "Open Sans";
	-fx-text-alignment: left;
	-fx-alignment: center-left;
	-fx-font-size: 13px;
	-fx-font-smoothing-type: lcd;
	-fx-background-color: #6f7076, #55575c;
	-fx-background-insets: 0 0 0 0, 0 0 0 0;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #68696f;
}

.table .indexed-cell:even > .indexed-cell > .cell {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-font-family: "Open Sans";
	-fx-text-alignment: left;
	-fx-alignment: center-left;
	-fx-padding: 7px 0px 5px 20px;
}

.table .indexed-cell:odd > .indexed-cell > .cell {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-font-family: "Open Sans";
	-fx-text-alignment: left;
	-fx-alignment: center-left;
	-fx-padding: 7px 0px 5px 20px;
}

.table .indexed-cell:even:empty, .table .indexed-cell:odd:empty {
	-fx-background-color: transparent;
	-fx-border-width: 0;
}

.table .indexed-cell:even:selected, .table .indexed-cell:odd:selected, .table .cell:selected, .table .indexed-cell:selected,  .table .indexed-cell:selected *, .table .cell:selected, .table .cell:selected .cell {
	-fx-background-color: #212327, #2a2d31;
	-fx-background-insets: 0 0 0 0, 2 1 1 1;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #68696f;
}

.iconflow-selector .scroll-bar {
	
}

.iconflow-selector .scroll-bar .decrement-button, .iconflow-selector .scroll-bar .increment-button {
	-fx-padding: 6px 8px 6px 8px;
	-fx-background-color: #2c2e32, #8e8f94, linear-gradient(#75767d 0%, #5f6167 50%, #5b5e64 50%, #5f6167 100%);
	-fx-padding: 10px;
}

.iconflow-selector .scroll-bar .decrement-button {
	-fx-background-insets: 0, 1, 2 1 1 1;
}

.iconflow-selector .scroll-bar .increment-button {
	-fx-background-insets: 0, 1, 2 1 1 1;
}

.iconflow-selector .scroll-bar .decrement-arrow, .iconflow-selector .scroll-bar .increment-arrow {
	-fx-background-color: white;
	-fx-effect: null;
	-fx-border-width: 0px;
	-fx-padding: 6px 4px 6px 4px;
}

.iconflow-selector .scroll-bar .track {
	-fx-background-color: #2c2e32, #3a3d42, #3f4146;
	-fx-background-insets: 0, 1 0 1 1, 2 0 1 1;
	-fx-background-radius: 0px;
}

.iconflow-selector .scroll-bar .thumb {
	-fx-background-color: #2c2e32, #8e8f94, linear-gradient(#75767d 0%, #5f6167 50%, #5b5e64 50%, #5f6167 100%);
	-fx-background-insets: 0, 1 1 1 1, 2 1 1 1;
	-fx-background-radius: 0px;
	-fx-border-width: 0px;
}

.table .scroll-bar:horizontal {
	-fx-opacity: 0;
}

.table .scroll-bar:horizontal .increment-button, .table .scroll-bar:horizontal .decrement-button {
	-fx-padding:0;
}

.table .scroll-bar:horizontal .increment-arrow, .table .scroll-bar:horizontal .decrement-arrow {
	-fx-padding:0;
}

.table .scroll-bar:vertical .increment-button, .table .scroll-bar:vertical .decrement-button {
	-fx-padding: 6px 8px 6px 8px;
}

.table .scroll-bar:vertical .increment-button {
	-fx-background-color: #3a3d42, #8e8f94, linear-gradient(#75767d 0%, #5f6167 50%, #5b5e64 50%, #5f6167 100%);
	-fx-background-insets: 0, 1 0 0 1, 2 0 0 1;
}

.table .scroll-bar:vertical .decrement-button {
	-fx-background-color: #3a3d42, #8e8f94, linear-gradient(#75767d 0%, #5f6167 50%, #5b5e64 50%, #5f6167 100%);
	-fx-background-insets: 0, 0 0 1 1, 1 0 1 1;
}

.table .scroll-bar:vertical .increment-arrow, .table .scroll-bar:vertical .decrement-arrow {
	-fx-background-color: white;
	-fx-effect: null;
	-fx-border-width: 0px;
	-fx-padding: 4px 6px 4px 6px;
}
	
.table .scroll-bar:vertical .increment-button, .table .scroll-bar:vertical .decrement-button {
	-fx-padding: 10px;
}

.table .scroll-bar:vertical .thumb {
	-fx-background-color: #3a3d42, #8e8f94, linear-gradient(#75767d 0%, #5b5e64 90%, #5f6167 100%);
	-fx-background-insets: 0, 1 0 1 1, 2 0 1 1;
	-fx-background-radius: 0px;
	-fx-border-width: 0px;
}

.table .scroll-bar:vertical .track {
	-fx-background-color: #3a3d42, #3a3d42, #3f4146;
	-fx-background-insets: 0, 0 0 0 1, 1 0 0 1;
	-fx-background-radius: 0px;
}