.form-label, .label {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-font-family: "Helvetica";
	-fx-text-fill: white;
	-fx-padding: 0 5 0 0;
}

.form-button {
	-fx-background-color: #8c8888, #222222, #807878, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-border-radius: 6, 6, 5, 5;
	-fx-text-fill: white;
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-font-family: "Helvetica";
}

.form-button:pressed, .form-button-active {
	-fx-background-color: #8c8888, #222222, #6696e7, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.form-button:disabled {
	-fx-background-color: #8c8888, #5d5d5d, #888484, #7b7b7b;
	-fx-opacity: 1;
}

.form-button-active:disabled {
	-fx-opacity: 0.5;
}

.form-button-icon {
	-fx-opacity: 1;
}

.form-button-icon:disabled  {
	-fx-opacity: 0.3;
}

.form-button Text, .form-button Label {
  -fx-opacity: 1;
}

.form-button:disabled Text, .form-button:disabled Label {
  -fx-opacity: 0.3;
}

.form-button-label {
	-fx-text-fill: white;
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-font-family: "Helvetica";
}

.form-button-bar-left {
	-fx-background-radius: 5 0 0 5, 4 0 0 3;
}

.form-button-bar-right {
	-fx-background-radius: 0 5 5 0, 0 4 3 0;
}

.form-full-textfield, .text-field {
	-fx-font-size: 14px;
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-text-fill: #323232;
	-fx-background-radius: 3px;
	-fx-padding: 0 0 0 10;
	-fx-background-color: #8c8888, #222222, #f0f0f0;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
}

.form-full-textfield:focused, .text-field:focused {
	-fx-background-color: #8c8888, #0080e2, #f0f0f0;
}

.center-text {
	-fx-text-alignment: center;
}

.add-icon {
	-fx-fill: white;
}

.remove-icon {
	-fx-fill: white;
}

.combo-box-base, .arrow-button {
	-fx-background-color: #8c8888, #222222, #807878, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-border-radius: 6, 5, 5, 5;
}

.arrow {
	-fx-background-color: white;
}

.arrow-button {
	-fx-background-radius: 0 6 6 0,  0 5 5 0, 0 5 5 0, 0 5 5 0;
}

.combo-box-base .list-cell {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-alignment: center-left;
	-fx-font-family: "Helvetica";
	-fx-text-fill: white;
	-fx-padding: 10 5 10 5;
}

.combo-box-base {
	-fx-background-radius: 6, 5, 5, 5;
}

.combo-box-popup {
	-fx-alignment: center;
	-fx-background-color: #343434;
}

.combo-box-popup .list-view {
	-fx-alignment: center;
	-fx-effect: dropshadow(gaussian, #4c4c4c, 7, 0, 0, 3);
	-fx-background-insets: 0;
	-fx-background-color: #343434;
	-fx-border: green;
	-fx-padding: 0;
}

.combo-box-popup .list-view .list-cell {
	-fx-background-color: #343434, #807878, #5e5a5a;
	-fx-background-insets: 0, 1 1 0 1, 2 1 0 1;
	-fx-background-radius: 0;
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-font-family: "Helvetica";
	-fx-text-fill: white;
	-fx-padding: 10 5 10 5;
}

.list-cell .selected {
	-fx-background-color: #343c48, #6696e7, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.numeric-text-field Text {
	-fx-text-alignment: right;
}

.form-icon {
	-fx-fill: #737373;
}

.stackplate-steel {
	}

.stackplate {
	-fx-fill: linear-gradient( #c2c2c2 0%, #acacac 100%);
	-fx-effect: innershadow(gaussian, #676767, 1, 0, -1, 1);
	-fx-stroke-type: inside;
	-fx-stroke-width: 2px;
	-fx-stroke: rgba(255, 255, 255, 0.3);
}

.stacker-text {
	-fx-font-family: "Helvetica";
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-fill: #e9441e;
	-fx-effect: innershadow(gaussian, #565656, 1, 0, 0, 1);
}

.hole {
	-fx-fill: #818181;
	-fx-effect: innershadow(gaussian, #404040, 5, 0, 0, 5);
}

.normal-stud {
	-fx-fill: yellow;
	-fx-effect: dropshadow(gaussian, #999900, 5, 0, 0, 2);
	-fx-stroke: rgba(0, 0, 0, 0.4);
	-fx-stroke-width: 1px;
}

.horizontal-stud {
	-fx-fill: red;
	-fx-effect: dropshadow(gaussian, #660000, 5, 0, 0, 2);
}

.corner-shape {
	-fx-fill: orange;
	-fx-effect: dropshadow(gaussian, #994c00, 5, 0, 0, 2);
	-fx-stroke: rgba(0, 0, 0, 0.4);
	-fx-stroke-width: 1px;
}

.workpiece {
	-fx-fill: linear-gradient(#ececec 0%, #dddddd 95%, #b9b9b9 100%);
	-fx-stroke-width: 1px;
	-fx-stroke: rgba(120, 120, 120, 1);
	-fx-effect: dropshadow(gaussian, #8f8f8f, 10, 0, 0, 5);
}

.finished {
	-fx-fill: linear-gradient(#87d715 0%, #70d60c 95%, #64bd04 100%);
	-fx-stroke: #3c7703;
}

.root {
	-fx-fill: null;
	-fx-background-color: rgba(0, 0, 0, 0);
}

.line {
	-fx-stroke-width: 3px;
	-fx-stroke: rgba(0, 0, 0, 0.1);
}

.corner-stud-lines {
	-fx-stroke: red;
	-fx-stroke-line-cap: butt;
	/*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0, 0, 2);*/
}

.iconflow-selector {
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0, 0, 1);
	-fx-border-width: 1px;
	-fx-border-color: rgba(0, 0, 0, 0.15);
	-fx-border-radius: 5px;
	-fx-background-color: #eeeeee;
	-fx-background-radius: 5px;
	-fx-padding: 0;
}

.iconflow-selector:focused {
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0, 0, 1);
	-fx-border-width: 1px;
	-fx-border-color: rgba(0, 0, 0, 0.15);
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-padding: 0;
	-fx-background-insets: 0;
}

.iconflow-item {	
	-fx-background-color: transparent;
	-fx-background-radius: 3px;
	-fx-border-color: transparent;
	-fx-border-width: 2px;
	-fx-border-radius: 5px;
}

.iconflow-item-selected {
	-fx-border-color: #1770da;
}

.iconflow-item-lbl {
	-fx-text-fill: rgba(0, 0, 0, 0.8);
	-fx-border-width: 0px;
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-font-smoothing-type: lcd;
	-fx-font-family: "Helvetica";
	-fx-alignment: center;
	
	-fx-padding: 5 0 0 0;
	
}

.iconflow-item-icon {
	-fx-border-width: 0px;
	-fx-opacity: 0.75;
}

.iconflow-item-icon-selected {
	-fx-opacity: 1;
}

.iconflow-selector .scroll-bar {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-effect: null;
}

.iconflow-selector .scroll-bar .decrement-button {
	-fx-padding: 10 0 10 0;
	-fx-background-color: transparent;
	-fx-border-width: 0px;
	-fx-border-color: transparent;
	-fx-effect: null;
}

.iconflow-selector .scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
}

.iconflow-selector .scroll-bar .increment-button {
	-fx-padding: 10 0 10 0;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0px;
	-fx-effect: null;
}

.iconflow-selector .scroll-bar .increment-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
}

.iconflow-selector .scroll-bar .track {
	-fx-background-color: #eeeeee;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
	-fx-effect: null;
}

.lbl-intervention {
	-fx-text-alignment: right;
	-fx-alignment: center-right;
}

.iconflow-selector .scroll-bar .thumb {
	-fx-background-color: rgba(0, 0, 0, 0.5);
	-fx-border-color: transparent;
	-fx-background-insets: 2, 0;
}

.iconflow-selector .scroll-bar .thumb:pressed {
	-fx-background-color: rgba(0, 0, 0, 0.3);
	-fx-border-color: transparent;
	-fx-background-insets: 2, 0;
}

.btn-intervention {
	-fx-fill: rgba(0, 0, 0, 0.5);
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.8), 2, 0, 0, 1);
}

.hidden {
	visibility: hidden;
}
