
.bottompane {
	-fx-background-color: white;
}

.bottom-right {
	-fx-background-color: #53555a, #708286, linear-gradient(#67696f 0%, #616369 100%);
	-fx-background-insets: 0 0 0 0, 1 0 0 0, 1 0 0 0;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, -5, 0);
}

.bottom-left, .left-menu {
	-fx-background-color: #3b3f46, #5b6068, #52555c;
	-fx-background-insets: 0 0 0 0, 0 1 0 0, 0 1 0 0;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, -5, 0);
}

.left-menu-button {
	-fx-padding: 0;
	-fx-background-radius: 0;
	-fx-background-color: #5b6068, #3b3f46, #5b6068, linear-gradient(#52555c 0%, #4f5158 100%);
	-fx-background-insets: 0, 0, 1 1 0 0, 2 1 0 0;
}

.left-menu-button:pressed, .menu-item-selected {
	-fx-background-color: #3c4147, #292d32, #3c4147, #2a2d31;
	-fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.75), 15, 0.0, 0, 2);
}

.left-menu-button .left-menu-item-label {
	-fx-padding: 0 0 0 5;
	-fx-text-fill: white;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-font-smoothing-type: lcd;
	-fx-effect: dropshadow(one-pass-box, #393b3f, 1, 0.0, 0, 1);
}

.left-menu-button:disabled {
	-fx-background-color: #545454, #807c7c, #6d6c6c;
	-fx-opacity: 1;
}

.left-menu-button .left-menu-item-label:disabled, .menu-icon:disabled {
	-fx-fill: #abaaaa;
}

.menu-icon {
	-fx-fill: white;
}

.left-menu-top {
}

.left-menu-bottom {
	-fx-background-insets: 0 1 0 0, 0 0 1 0, 1 1 2 0, 2 1 2 0;
}

.left-menu-both {
		-fx-background-insets: 0, 0, 1 1 0 1, 2 2 0 1;
}

.popup {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
	-fx-background-color: #4c4c4c, #807c7c, #6d6c6c;
	-fx-background-insets: 0, 0 1 1 1, 0 2 2 2;
	-fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1;
}

.pop-up-btn {
	-fx-background-color: #343434, #726c6c, #5e5a5a;
	-fx-background-insets: 0, 0 1 1 1, 1 1 1 1;
	-fx-background-radius: 0;
}

.pop-up-btn Text {
	-fx-fill: white;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-font-smoothing-type: lcd;
	-fx-padding: 0 0 0 5;
}

.pop-up-btn-bottom {
	-fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1;
}

.pop-up-btn-pressed, .pop-up-btn:pressed {	
	-fx-background-color: #222222, #413d3d, #413d3d;
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.0, 0, 1);
}

.warning-bg-icon {
	-fx-fill: #ffe829;
}

.error-bg-icon {
	-fx-fill: #ff462d;
}

.info-bg-icon {
	-fx-fill: #008aeb;
}

.warning-icon {
	-fx-fill: #000000;
}

.error-icon {
	-fx-fill: #ffffff;
}

.info-icon {
	-fx-fill: #ffffff;
}

.content-bottom {
	-fx-background-color: #4c4c4c, #807c7c, #6d6c6c;
	-fx-background-insets: 0 0 0 0, 1 0 0 0, 2 0 0 0;
}

.content-msg {
	-fx-text-alignment: left;
	-fx-alignment: top-left;
	-fx-text-wrap: true;
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-smoothing-type: lcd;
	-fx-background-color: transparent;
	-fx-padding: 0;
} 

.content-btn {
	-fx-background-color: #8c8888, #222222, #807878, #353333, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 2 1 3 1;
	-fx-background-radius: 3, 3, 2, 2, 2;
}

.content-btn:pressed {
	-fx-background-color: #8c8888, #222222, #6696e7, #1d355d, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.content-btn-text {
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;	
	-fx-text-alignment: center;
	-fx-alignment: center;
}

.content-msg-title {
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

.context-menu {
	visibility: hidden;
	-fx-opacity: 0;
}