.top-panel {
	
}

.bottom-left {
	-fx-background-color: #b8b8b8, #e9e9e9, #dddee0;
	-fx-background-insets: 0, 1 1 0 0, 2 2 0 0;
}

.bottom-right {
	-fx-border-color: #9f9f9f;
	-fx-border-width: 1 0 0 0;
}

.left-menu-button {
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-font-family: "Helvetica";
	-fx-padding: 0;
	-fx-background-color:  #b8b8b8, white;
	-fx-background-insets: 0, 0 1 1 1;
	-fx-background-radius: 0;
}

.left-menu-button .left-menu-item-label {
	-fx-padding: 0 0 0 5;
}

.left-menu-item-panel {
}

.left-menu-top {
	-fx-background-radius: 5 5 0 0;
	-fx-background-insets: 0, 1 1 1 1;
}

.left-menu-bottom {
	-fx-background-radius: 0 0 5 5;
}

.green {
	-fx-background-color: rgba(0, 255, 0, 0.5);
}

.red {
	-fx-background-color: rgba(255, 0, 0, 0.5);
}

.yellow {
	-fx-background-color: rgba(255, 255, 0, 0.5);
}

