
.bottompane {
	-fx-background-color: white;
}

.bottom-right {
	-fx-background-color: #4c4c4c, #807c7c, #7b7b7b;
	-fx-background-insets: 0 0 0 0, 1 0 0 0, 2 0 0 0;
}

.bottom-left, .left-menu {
	-fx-background-color: #4c4c4c, #807c7c, #6d6c6c;
	-fx-background-insets: 0 0 0 0, 1 1 0 0, 2 1 0 0;
}

.left-menu-button {
	-fx-padding: 0;
	-fx-background-radius: 0;
	-fx-background-color: #343434, #726c6c, #5e5a5a;
	-fx-background-insets: 0 0 0 0, 1 1 1 1, 2 1 0 1;
}

.left-menu-button:pressed, .menu-item-selected {
	-fx-background-color: #343c48, #6696e7, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.left-menu-button .left-menu-item-label {
	-fx-padding: 0 0 0 5;
	-fx-text-fill: white;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-font-smoothing-type: lcd;
}

.left-menu-button:disabled {
	-fx-background-color: #545454, #807c7c, #6d6c6c;
	-fx-opacity: 1;
}

.left-menu-button .left-menu-item-label:disabled, .menu-icon:disabled {
	-fx-fill: #abaaaa;
}

.menu-icon {
	-fx-fill: white;
}

.left-menu-top {
	-fx-background-radius: 3 3 0 0;
}

.left-menu-bottom {
	-fx-background-radius: 0 0 3 3;
	-fx-background-insets: 0 0 0 0, 1 1 1 1, 2 1 1 1;
}

.left-menu-both {
	-fx-background-radius: 3;
}

.popup {
	-fx-effect: dropshadow(gaussian, #4c4c4c, 10, 0, 0, 5);
	-fx-background-color: #4c4c4c, #807c7c, #6d6c6c;
	-fx-background-insets: 0, 0 1 1 1, 0 2 2 2;
	-fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1;
}

.pop-up-btn {
	-fx-background-color: #343434, #726c6c, #5e5a5a;
	-fx-background-insets: 0, 0 1 1 1, 1 1 1 1;
	-fx-background-radius: 0;
}

.pop-up-btn Text {
	-fx-fill: white;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-font-smoothing-type: lcd;
	-fx-padding: 0 0 0 5;
}

.pop-up-btn-bottom {
	-fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1;
}

.pop-up-btn-pressed, .pop-up-btn:pressed {
	-fx-background-color: #343c48, #6696e7, linear-gradient(#5078bc 0%, #3e6099 100%);
}