/* ----------------------------------- HEADER AND HEADER-BUTTONS -----------------------------------*/

.main {
	-fx-background-color: #ededed;
}

.tool-bar {
	-fx-background-color: 
		#343434,
		linear-gradient(#ababab 0%, #696969 100%),
		linear-gradient(#858585 0%, #5a5757 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 0 2 0;
	-fx-effect: dropshadow(gaussian, #4c4c4c, 25, 0, 0, 1);
}

.header-button {
	-fx-background-color: 
		#7b7b7b,
		#343434,
		linear-gradient(#999696 0%, #373737 100%),
		linear-gradient(#898989 0%, #414346 100%);	

	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 2 3 2;
	-fx-border-radius: 6, 5, 4, 3;
	-fx-font-size: 14px;
	-fx-text-alignment: center;
	-fx-padding: 1 0 0 0;
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
}

.header-button-shape {
	-fx-fill: white;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 3, 0.0 , 0 , -1 );
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 5;
}

.header-button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 3, 0.0 , 0 , -1 );
}

.bar {
	 -fx-background-radius: 0,0,0,0;
	 -fx-background-insets: 0 0 0 0, 0 0 1 0, 1 0 2 1, 2 1 3 2;
}

.first {
    -fx-background-radius: 6 0 0 6, 5 0 0 5, 4 0 0 4, 3 0 0 3;
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 0 2 1, 2 1 3 2;
}

.last {
	-fx-background-radius: 0 6 6 0, 0 5 5 0, 0 4 4 0, 0 3 3 0;
	 -fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 2 3 2;
}

.header-button:pressed, .header-button.selected {
	-fx-background-color: 
		#7b7b7b,
		#343434,
		linear-gradient(#5f5f5f 0%, #515151 100%),
		linear-gradient(#676767 0%, #4a4a4a 100%);
	-fx-effect: innershadow(gaussian, #1f1f1f, 10, 0, 0, 2);
}

.header-button:pressed Text{
	/*-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 12, 0, 0, 0);*/
}

.selected Text {
	/*-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 12, 0, 0, 0);*/
}