/* ----------------------------------- HEADER AND HEADER-BUTTONS -----------------------------------*/

.main {
	-fx-background-color: #ededed;
}

.tool-bar {
	-fx-background-color: #807c7c, #4c4c4c, #807c7c, #6d6c6c;
	-fx-background-insets: 0 0 0 0, 1 0 0 0, 1 0 1 0, 1 0 2 0;
	-fx-effect: dropshadow(two-pass-box, #5b5959, 15, 0, 0, 1);
}

.header-button {
	-fx-background-color: #807878, #222222, #807878, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-border-radius: 5, 6, 5, 5;
	-fx-font-size: 14px;
	-fx-padding: 1 0 0 0;
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
}

.header-button-shape {
	-fx-fill: white;
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 5;
}

.header-button Text {
    -fx-fill: white;
}

.bar {
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-background-radius: 0,0,0,0;
}

.first {
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 0 2 1, 2 0 2 1;
    -fx-background-radius: 6 0 0 6, 5 0 0 5, 4 0 0 4, 3 0 0 3;
}

.last {
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 0, 2 1 2 0;
	-fx-background-radius: 0 6 6 0, 0 5 5 0, 0 4 4 0, 0 3 3 0;
}

.header-button:pressed, .header-button.selected {
	-fx-background-color: #807878, #222222, #6696e7, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.header-button:disabled {
	-fx-background-color: #807c7c, #515151, #807c7c, #6d6c6c;
	-fx-opacity: 1;
}

.header-button-shape:disabled  {
	-fx-fill: #abaaaa;
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 5;
}

.header-button:disabled Text {
   -fx-fill: #abaaaa;
}