/* ----------------------------------- HEADER AND HEADER-BUTTONS -----------------------------------*/

.main {
	-fx-background-color: #ededed;
}

.tool-bar {
	-fx-background-color: #807c7c, #4c4c4c, #807c7c, #6d6c6c;
	-fx-background-insets: 0 0 0 0, 1 0 0 0, 1 0 1 0, 1 0 2 0;
	-fx-effect: dropshadow(two-pass-box, #5b5959, 15, 0, 0, 1);
}

.header-button {
	-fx-background-color: #807878, #222222, #807878, #353333, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 2 1 3 1;
	-fx-border-radius: 3, 3, 2, 2, 2;
	-fx-padding: 1 0 0 0;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;
}

.header-button-shape {
	-fx-fill: white;
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 5;
}

.header-button Text {
    -fx-fill: white;
    -fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;
}

.bar {
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 2 1 3 1;
	-fx-background-radius: 0,0,0,0;
}

.first {
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 0 2 1, 2 0 2 1, 2 0 3 1;
    -fx-background-radius: 3 0 0 3, 3 0 0 3, 2 0 0 2, 2 0 0 2, 2 0 0 2;
}

.last {
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 0, 2 1 2 0, 2 1 3 0;
	-fx-background-radius: 0 3 3 0, 0 3 3 0, 0 2 2 0, 0 2 2 0, 0 2 2 0;
}

.header-button:pressed, .header-button.selected {
	-fx-background-color: #807878, #222222, #6696e7, #3a4250, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.header-button-exit:pressed, header-button-exit.selected {
	-fx-background-color: #807878, #222222, #ff7b77, #8c4745, linear-gradient(#ff4c47 0%, #db423c 100%);
}

.header-button:disabled {
	-fx-background-color: #807c7c, #515151, #807c7c, #6d6c6c, #6d6c6c;
	-fx-opacity: 1;
}

.header-button.selected:disabled {
	-fx-opacity: 0.5;
}

.header-button-shape:disabled  {
	-fx-fill: #abaaaa;
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 5;
}

.header-button:disabled Text {
   -fx-fill: #abaaaa;
}