.keyboard-background {
	-fx-background-color: rgba(109, 109, 109, 0.9);
}

.keyboard-button {
	-fx-background-color: #8a8484, #222222, #807878, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-font-size: 18px;
	-fx-text-alignment: center;
	
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-padding: 0;
	
	-fx-border-radius: 5, 4, 3;
}

.keyboard-button Text {
    -fx-fill: white;
}

.keyboard-button:pressed {
	-fx-background-color: #807878, #222222, #6696e7, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.keyboard-button:pressed Text {
}

#key-OK {
	-fx-background-color: #807878, #222222, #a3f08c, linear-gradient(#6fc955 0%, #409228 100%);
}

#key-OK Text {
}

#key-OK:pressed {
}

#key-OK:pressed Text {
}