/* ---------- DEVICE BUTTON ---------- */

.device-button {
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1, 3 1 2 1, 6, 7, 8;
	-fx-shape: "M 34.03125 0.03125 C 15.253569 0.03125 0.03125 15.253568 0.03125 34.03125 C 0.03125 52.808932 15.253569 68.03125 34.03125 68.03125 C 52.808931 68.03125 68.03125 52.808932 68.03125 34.03125 C 68.03125 15.253568 52.808931 0.03125 34.03125 0.03125 z";
}

.btn-pre {
	-fx-background-color: #f9f9f9, #bcbcbc, #cecece, #d8d8d8, #dfdfdf, #d25900, linear-gradient(#ffc18f 0%, #ec7500 100%), linear-gradient(#ff8b24 0%, #fb8720 100%);
}

.pre-process {
}

.btn-cnc {
	-fx-background-color: #f9f9f9, #bcbcbc, #cecece, #d8d8d8, #dfdfdf, #174bb5, linear-gradient(#7fa9ff 0%, #215bd1 100%), linear-gradient(#3073fb 0%, #2767ea 100%);
}

.cnc-machine {
}

.btn-post {
	-fx-background-color: #f9f9f9, #bcbcbc, #cecece, #d8d8d8, #dfdfdf, #146016, linear-gradient(#55f358 0%, #1d9320 100%), linear-gradient(#2bb52e 0%, #27a22a 100%);
}

.post-process {
}

.button-shape {
	-fx-fill: white;
	-fx-scale-x: 0.82;
	-fx-scale-y: 0.82;
}

.btn-pre .button-shape {
}

.btn-cnc .button-shape {
}

.btn-post .button-shape {
}

.device-button-wrapper {
	-fx-opacity: 1;
}

.device-unfocussed {
	-fx-opacity: 0.2;
}

.device-label {
	-fx-font-size: 13px;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: right;
	-fx-text-fill: black;
	-fx-label-padding: 0;
	-fx-wrap-text: true;
	-fx-padding: 0;
}

.unknown-device {
	-fx-text-fill: red;	
}


/* ---------- TRANSPORT BUTTON ---------- */

.transport-button {
	-fx-opacity: 1;
	-fx-background-color: #f9f9f9, #bcbcbc, #cecece, #d8d8d8, #dfdfdf;
	-fx-background-insets: 0 2 0 2, 0 1 1 1, 1 1 2 1, 2 2 2 2, 3 0 2 0;
	/*-fx-shape: "m 236.67304,254.67726 1.76147,2.51639 1.85583,2.57929 -54.19659,0 0,5.03277 54.16514,0 -1.82438,2.54783 -1.76147,2.54784 2.42202,-1.00655 10.1599,-4.08912 56.83879,0 0,-5.03277 -56.77588,0 -10.22281,-4.12058 -2.42202,-0.9751 z";*/
}

.transport-unfocussed {
	-fx-opacity: 0.2;
}

.pause-shape {
	-fx-fill: black;
}

.transport-label {
	-fx-text-alignment: center;
	-fx-font-size: 13px;
	-fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
	-fx-alignment: center;
	-fx-text-fill: black;
	-fx-padding: 0 0 0 4;
}

.process-flow-view {
	-fx-background-color: #ededed;
}


/* ----------PROGRESSBAR---------- */

.progressbar-piece {
	-fx-background-color: #cbcbcb, #d9d9d9;
	-fx-background-insets: 0, 1 0 0 0;
	-fx-opacity: 1;
}

.progressbar-piece-unfocussed {
	-fx-opacity: 0.2;	
}

.progressbar-piece-first {
	-fx-background-radius: 4 0 0 4;
}

.progressbar-piece-last {
	-fx-background-radius: 0 4 4 0;
}

.progressbar-piece-green {
	-fx-background-color: #1e8f20, #21a524;
}

.progressbar-piece-yellow {
	-fx-background-color: #1ab71d, #1bc81f;
}

.hide {
	visibility: hidden;
}