/* ---------- DEVICE BUTTON ---------- */

.device-button {
	-fx-background-insets: 0, 1, 2 1 1 1;
	-fx-background-radius: 5, 4, 4;
}

.btn-pre {
	-fx-background-color: #a55015, #ffb327, linear-gradient(#fb8e05 0%, #e07d01 100%);
}

.pre-process {
	-fx-effect: dropshadow(one-pass-box, #a55015, 1, 0, 0, 1);
}

.btn-cnc {
	-fx-background-color: #2b0e60, #b789f6, linear-gradient(#935ddc 0%, #4b278d 100%);
}

.cnc-machine {
	-fx-effect: dropshadow(one-pass-box, #2b0e60, 1, 0, 0, 1);
}

.btn-post {
	-fx-background-color: #205c0f, #a3f08c, linear-gradient(#6fc955 0%, #409228 100%);
}

.post-process {
	-fx-effect: dropshadow(one-pass-box, #205c0f, 1, 0, 0, 1);
}

.button-shape {
	-fx-fill: white;
}

.device-button-wrapper {
	-fx-opacity: 1;
}

.device-unfocussed {
	-fx-opacity: 0.2;
}

.device-label {
	-fx-font-size: 13px;
	-fx-text-alignment: center;
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

.unknown-device {
	-fx-text-fill: red;	
}


/* ---------- TRANSPORT BUTTON ---------- */

.arrow-shine {
	-fx-fill: #9ecdff;
}

.arrow-shape {
	-fx-fill: linear-gradient(#4b9bff 0%, #2a89d2 100%);
	-fx-stroke-width: 1px;
	-fx-stroke: #204b7a;
}

.transport-button {
	-fx-opacity: 1;
}

.transport-unfocussed {
	-fx-opacity: 0.2;
}

.question-mark-shape {
	-fx-fill: linear-gradient(white 0%, #e6e6e6 100%);
	-fx-effect: dropshadow(one-pass-box, #204b7a, 1, 0, 0, 1);
}

.pause-shape {
	-fx-fill: linear-gradient(white 0%, #e6e6e6 100%);
	-fx-effect: dropshadow(one-pass-box, #204b7a, 1, 0, 0, 1);
}

.transport-label {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	
	-fx-font-family: "Helvetica";
	-fx-alignment: center;
	-fx-text-fill: black;
	-fx-padding: 0;
}

.process-flow-view {
	-fx-background-color: #ededed;
}


/* ----------PROGRESSBAR---------- */

.progressbar-piece {
	-fx-background-color: #a9a9a9, #bfbfbf, #dadada;
	-fx-background-insets: 0, 1 0 1 0, 2 0 1 0;
	-fx-opacity: 1;
}

.progressbar-piece-unfocussed {
	-fx-opacity: 0.2;	
}

.progressbar-first {
	-fx-background-radius: 6 0 0 6, 5 0 0 5, 4 0 0 4;
}

.progressbar-last {
	-fx-background-radius: 0 6 6 0, 0 5 5 0, 0 4 4 0;
}

.progressbar-green {
	-fx-background-color: #296218, #388122, #60b847;
	-fx-background-insets: 0, 1 0 1 0, 2 0 1 0;
}

.hide {
	visibility: hidden;
}