/* ---------- DEVICE BUTTON ---------- */

.device-button {
	-fx-background-insets: 0, 1 1 2 1, 5, 6, 7;
	-fx-shape: "M 34.03125 0.03125 C 15.253569 0.03125 0.03125 15.253568 0.03125 34.03125 C 0.03125 52.808932 15.253569 68.03125 34.03125 68.03125 C 52.808931 68.03125 68.03125 52.808932 68.03125 34.03125 C 68.03125 15.253568 52.808931 0.03125 34.03125 0.03125 z";
}

.btn-pre {
	-fx-background-color: #a0a0a0, linear-gradient(white 0%, #f4f4f4 100%), #a55015, #ce7300, linear-gradient(#fc981b 0%, #ce7300 100%);
}

.pre-process {
	-fx-effect: dropshadow(one-pass-box, #a55015, 1, 0, 0, 1);
}

.btn-cnc {
	-fx-background-color: #a0a0a0, linear-gradient(white 0%, #f4f4f4 100%), #2b0e60, #5a2fa8, linear-gradient(#935ddc 0%, #4b278d 100%);
}

.cnc-machine {
	-fx-effect: dropshadow(one-pass-box, #2b0e60, 1, 0, 0, 1);
}

.btn-post {
	-fx-background-color: #a0a0a0, linear-gradient(white 0%, #f4f4f4 100%), #205c0f, #46932f, linear-gradient(#6fc955 0%, #46932f 100%);
}

.post-process {
	-fx-effect: dropshadow(one-pass-box, #205c0f, 1, 0, 0, 1);
}

.button-shape {
	-fx-fill: white;
}

.device-button-wrapper {
	-fx-opacity: 1;
}

.device-unfocussed {
	-fx-opacity: 0.2;
}

.device-label {
	-fx-font-size: 13px;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: right;
	-fx-text-fill: black;
	-fx-label-padding: 0;
	-fx-wrap-text: true;
	-fx-padding: 0;
}

.unknown-device {
	-fx-text-fill: red;	
}


/* ---------- TRANSPORT BUTTON ---------- */

.arrow-shine {
	-fx-fill: #9ecdff;
}

.arrow-shape {
	-fx-fill: linear-gradient(#4b9bff 0%, #2a89d2 100%);
	-fx-stroke-width: 1px;
	-fx-stroke: #204b7a;
}

.transport-button {
	-fx-opacity: 1;
}

.transport-unfocussed {
	-fx-opacity: 0.2;
}

.question-mark-shape {
	-fx-fill: linear-gradient(white 0%, #e6e6e6 100%);
	-fx-effect: dropshadow(one-pass-box, #204b7a, 1, 0, 0, 1);
}

.pause-shape {
	-fx-fill: linear-gradient(white 0%, #e6e6e6 100%);
	-fx-effect: dropshadow(one-pass-box, #204b7a, 1, 0, 0, 1);
}

.transport-label {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	
	-fx-font-family: "Helvetica";
	-fx-alignment: center;
	-fx-text-fill: black;
	-fx-padding: 0;
}

.process-flow-view {
	-fx-background-color: #ededed;
}


/* ----------PROGRESSBAR---------- */

.progressbar-piece {
	-fx-background-color: #a9a9a9, #bfbfbf, #dadada;
	-fx-background-insets: 0, 1 0 1 0, 2 0 1 0;
	-fx-opacity: 1;
}

.progressbar-piece-unfocussed {
	-fx-opacity: 0.2;	
}

.progressbar-piece-first {
	-fx-background-radius: 6 0 0 6, 5 0 0 5, 4 0 0 4;
	-fx-background-insets: 0, 1 0 1 1, 2 0 1 1;
}

.progressbar-piece-last {
	-fx-background-radius: 0 6 6 0, 0 5 5 0, 0 4 4 0;
	-fx-background-insets: 0, 1 1 1 0, 2 1 1 0;
}

.progressbar-piece-green {
	-fx-background-color: #296218, #388122, #60b847;
}

.progressbar-piece-yellow {
	-fx-background-color: #9d8c00, #c3af00, #fec047;
}

.hide {
	visibility: hidden;
}