.teach-bottom {
	-fx-background-color: #4c4c4c, #807c7c, #6d6c6c;
	-fx-background-insets: 0 0 0 0, 1 0 0 0, 2 0 0 0;
}

.info-msg {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: white;
	-fx-font-family: "Helvetica";
	-fx-font-size: 16px;
} 

.alarm-msg {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: orange;
	-fx-font-family: "Helvetica";
	-fx-font-size: 16px;
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.5) , 2, 0.0 , 0 , 0 ); 
} 

.btn-start, .teach-btn {
	-fx-background-color: #807878, #222222, #807878, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-border-radius: 6, 6, 5, 5;
}

.btn-start:pressed, .teach-btn:pressed {
	-fx-background-color: #807878, #222222, #6696e7, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.btn-start-label, .teach-btn-text {
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-font-family: "Helvetica";
	-fx-alignment: center;
}

.lbl-z-rest {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: #ffe328;
	-fx-font-family: "Helvetica";
	-fx-font-size: 16px;
}

.lbl-disconnected-list {
	-fx-text-size: 18px;
}

.loading {
	-fx-fill: #ffe400;
	-fx-effect: dropshadow(one-pass-box, #565100, 2, 0, 0, 1);
}

.loading-inactive {
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
