.teach-bottom {
	-fx-background-color: #4c4c4c, #807c7c, #7b7b7b;
	-fx-background-insets: 0 0 0 0, 1 0 0 0, 2 0 0 0;
}

.teach-msg {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: white;
	-fx-font-family: "Helvetica";
	-fx-font-size: 16px;
	-fx-background-color: transparent;
} 

.message-normal {
	-fx-font-size: 15px;
	-fx-background-color: #8c8888, #4c4c4c, #545454, #6d6c6c;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-background-radius: 5;
}

.message-error {
	-fx-font-size: 15px;
	-fx-background-color: #8c8888, #4c4c4c, #dc341d, #e33d27;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-background-radius: 5;
}

.btn-start, .teach-btn {
	-fx-background-color: #807878, #222222, #807878, linear-gradient(#656161 0%, #4e4a4a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 1 1 2 1, 2 1 2 1;
	-fx-border-radius: 6, 6, 5, 5;
}

.btn-start:pressed, .teach-btn:pressed {
	-fx-background-color: #807878, #222222, #6696e7, linear-gradient(#5078bc 0%, #3e6099 100%);
}

.btn-start-label, .teach-btn-text {
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-font-family: "Helvetica";
	-fx-alignment: center;
}

.lbl-z-rest {
	-fx-text-alignment: right;
	-fx-alignment: center-right;
	-fx-text-wrap: true;
	-fx-text-fill: #fec047;
	-fx-font-family: "Helvetica";
	-fx-font-size: 16px;
	-fx-padding: 0 10 0 10;
}

.lbl-z-rest-val {
	-fx-text-alignment: left;
	-fx-alignment: center-left;
}

.lbl-disconnected-list {
	-fx-text-size: 18px;
	-fx-text-alignment: center;
}

.loading {
	-fx-shape: "M 20.1875,0 C 9.2010752,0 0.28125,8.9198246 0.28125,19.90625 c 0,10.986425 8.9198252,19.875 19.90625,19.875 10.986425,0 19.875,-8.888575 19.875,-19.875 C 40.0625,8.9198246 31.173925,0 20.1875,0 z";
	-fx-background-color: linear-gradient(#6d6c6c 0%, #6d6c6c 50%, #8c8888 100%), #4c4c4c, #6d6c6c, #3a2c00, radial-gradient(center 50% 10%, radius 70%, #ffd154, #fec047, #ffbc2c);
	-fx-background-insets: 0, 1, 2, 5, 6;
}

.loading-inactive {
	-fx-shape: "M 20.1875,0 C 9.2010752,0 0.28125,8.9198246 0.28125,19.90625 c 0,10.986425 8.9198252,19.875 19.90625,19.875 10.986425,0 19.875,-8.888575 19.875,-19.875 C 40.0625,8.9198246 31.173925,0 20.1875,0 z";
	-fx-background-color: linear-gradient(#6d6c6c 0%, #6d6c6c 50%, #8c8888 100%), #4c4c4c, #6d6c6c, #353535, radial-gradient(center 50% 10%, radius 70%, #a2a2a2, #929292, #888888);
	-fx-background-insets: 0, 1, 2, 5, 6;
}
