.teach-bottom {
	-fx-background-color: #5a5757, #807c7c, linear-gradient(#656161 0%, #616264 100%);
	-fx-background-insets: 0 0 0 0, 1 0 0 0, 2 0 0 0;
	-fx-effect: dropshadow(gaussian, rgba(76, 76, 76, 0.3), 25, 0, 0, -1);
}

.info-msg {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: white;
	-fx-font-family: "Helvetica";
	-fx-font-size: 16px;
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.5) , 2, 0.0 , 0 , 0 ); 
} 

.lbl-z-rest {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: #ffe328;
	-fx-font-family: "Helvetica";
	-fx-font-size: 16px;
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.5) , 1, 0.0 , 0 , 0 ); 
}

.lbl-disconnected-list {
	-fx-text-size: 18px;
}

.btn-start {
	-fx-background-color: 
		linear-gradient(#616264 0%, #7b7b7b 100%),
		#2e5500,
		linear-gradient(#75d800 0%, #3e7300 100%), 
		linear-gradient(#67be00 0%, #5caa00 100%);
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2;
	-fx-background-radius: 5, 4, 3, 2;
	-fx-padding: 0;
}

.btn-start:pressed {
	-fx-effect: innershadow(gaussian, #262626, 7, 0, 0, 2);
}

.loading {
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.5) , 1, 0.0 , 0 , 0 ); 
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, #f8ba25 0%, #f8d325 10%, #ffe328 100%);
	-fx-stroke-width: 1px;
	-fx-stroke: rgba(0, 0, 0, 0.2);
}

.loading-inactive {
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.5) , 1, 0.0 , 0 , 0 ); 
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.btn-start-label {
	-fx-text-fill: white;
	-fx-font-size: 20;
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-family: "Helvetica";
	-fx-effect: dropshadow( one-pass-box , black , 3, 0.0 , 0 , 0 );   
}

.btn-start-icon {
	-fx-fill: white;
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,1) , 3, 0.0 , 0 , 0 );   
}